@model AgendaMVC.Models.ViewModel.ContactoViewModel

<div class="form-group" >
    @Html.LabelFor(Model => Model.Id)
    @Html.EditorFor(Model=>Model.Id)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.NombreContacto)
    @Html.EditorFor(Model => Model.NombreContacto)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.ApellidoContacto)
    @Html.EditorFor(Model => Model.ApellidoContacto)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.TelefonoContacto)
    @Html.EditorFor(Model => Model.TelefonoContacto)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.MailContacto)
    @Html.EditorFor(Model => Model.MailContacto)
</div>